@panelBorder    : rgba(68, 68, 68, 0.4) 1px solid;
@mainPanelColor : rgba(31, 31, 31, 0.6);

#app {

    &:not(.modular-fs) {
        .app-drawer {
            border-radius: 0px;
            bottom       : 0;
            right        : 0;
            top          : calc(var(--chromeHeight1) /2);
            height       : calc(100% - var(--chromeHeight1)) !important;
            box-shadow   : unset;
            border-top   : @panelBorder;
            border-bottom: @panelBorder;
            border-left  : @panelBorder;
            background   : @mainPanelColor;
            margin-right : 0px;
            position     : relative;

            .lyric-body{
                margin-top: -50px;
                padding-block-start: 100px;
                padding-block-end: 920px;
            }
            .lyric-line {
                margin-block-start: 20px;
                filter: blur(1.5px) opacity(0.4);

                &:not(.active) {
                    transform: scale(0.9);
                    //filter: blur(1.5px) opacity(0.4);
                    padding-block: 5px;
                    transition      : all 0s var(--appleEase);
                }

                &.active {
                    //opacity         : 1.5;
                    //backdrop-filter : blur(0px);
                    filter:blur(0px) opacity(1.5);
                    transform       : scale(1);
                    transform-origin: left center;
                    transition      : all 0.5s var(--appleEase);
                    position: sticky;
                }
            }
        }

        .drawertransition-enter-active,
        .drawertransition-leave-active {
            transition: margin .25s var(--appleEase), opacity .25s var(--appleEase);
        }

        .drawertransition-enter,
        .drawertransition-leave-to {
            margin-right: -300px;
        }
    }
}
#app.twopanel{
    &:not(.modular-fs) {
        .app-drawer {
            bottom       : calc(var(--chromeHeight2));
            top          : calc(var(--chromeHeight1) * 1.5 - var(--chromeHeight2)) !important;
            height       : calc(100% - var(--chromeHeight1) - var(--chromeHeight2)) !important;
        }
    }
}


.fullscreen-view-container{
    .fullscreen-view{
        .lyrics-col{
            width:100%;
            margin-top: 120px;
            .lyric-body{
                width:100%;
                padding-block-start: 100px;
                padding-block-end: 400px;
            }
        }
        .lyric-line{
            font-size: 50px;
            margin-right: 20px;
            margin-left: 0px;
            margin-block-start: 50px;

            &:not(.active) {
                position: relative;
                transform: scale(1);
                filter: blur(0.5px) opacity(0.4);
                padding-block-end: 10px;
            }
            
            &.active{
                position: sticky;
                transform: scale(1);
                transition: all 0.6s var(--appleEase);
            }
        }
    }
}


.fullscreen-view .artwork-col .app-playback-controls{
    .playback-info{
        .song-progress {
            bottom  : 40px;
            //right   : 1px;
            //left    : 2.5px;
            z-index : 30;
            overflow: hidden;

            input[type="range"] {
                width: 500px;
                border-radius: 5px;
                &::-webkit-slider-thumb {
                    border-radius: 3px;
                    width        : 6px;
                    height       : 14px;
                    border       : rgb(95, 95, 95) solid 1px;
                    background   : #b8b8b8;
                    margin-top   : -5px;
                }
                &::-webkit-slider-runnable-track {
                    background-color: rgba(200, 200, 200, 0.2);
                    height: 4px;
                }
            }
            .song-duration {
                color: rgb(200, 200, 200, 1);
                margin-left : 18px;
                margin-right: 22px;
                margin-bottom: 6px;
            }
        }
    }
}


.fullscreen-view .artwork-col .app-playback-controls .playback-info{
    background-color: unset;
    top: 55px;
}

.fullscreen-view .artwork-col .app-playback-controls .song-name{
    font-size: 14px;
}

.fullscreen-view .artwork-col .app-playback-controls .song-artist{
    margin-top: 1px;
    font-size: 13px;
    color:  rgb(200, 200, 200, 1);
}

.fullscreen-view .artwork-col .volume {
    margin-top: 500px;
    position: absolute;
}

.fullscreen-view .artwork-col .playback-button{
    top: 30px;
}

.fullscreen-view .artwork-col .playback-button--small{
    top: 500px;
}

.fullscreen-view .tab-toggles div {
    width        : 5vh;
    height       : 5vh;
    padding      : 1.6vh;
    margin-bottom: 100px;
    border-radius: 5px;

    &.active {
        background-color:  rgba(200, 200, 200, 0.15);
    }
}

.fullscreen-view .tab-toggles div:hover {
    background-color   : var(--selected);
    transition-duration: 0.2s;
}

.fullscreen-view .tab-toggles {
    bottom: 2vh;
    right : 2vh;
}


&.modular-fs {
    #app-sidebar {
        position: absolute;
    }
    .app-chrome:not(.chrome-bottom) {
        .app-chrome--left > div:nth-of-type(3) {
            margin-left: 0 !important;
        }
        &::before {
            width: 100%;
        }
    }
    .app-drawer{
        z-index: 15;
    }
    .md-body.lyric-body {
        backdrop-filter: none;
        margin-inline  : 5rem;

        .lyric-line {
            color          : var(--textColorLight) !important;
            opacity        : 1;
            transform      : none;
            scale          : 1;
            font-size      : 60px;
            text-align     : center;
            align-items    : center;
            justify-content: center;
            padding-top: 800px;
        }
    }

    .lyric-footer {
        background-color: transparent !important;
        padding-bottom  : 55px !important;
    }
}
